<div id="login">
    <h2 class="form-heading">login to your user Panel</h2>
    <div class="app-cam">
        <form name="olvido" ng-submit="forgot()" novalidate role="form">
            <div ng-show="invalidforgot" class="alert alert-danger">Invalid data</div>
            <input type="text" class="text" placeholder="Username" name="username" ng-model="credentials.username" ng-required="true">
            <span class="error-message" ng-show="olvido.username.$dirty && olvido.username.$error.required">
                            Este campo es obligatorio</span>
            <input type="text" class="text" placeholder="Nombre(s)" name="nombre" ng-model="credentials.nombre" ng-required="true">
            <span class="error-message" ng-show="olvido.nombre.$dirty && olvido.nombre.$error.required">
                            Este campo es obligatorio</span>
            <input type="text" class="text" placeholder="Email" name="email" ng-model="credentials.email" ng-required="true">
            <span class="error-message" ng-show="olvido.email.$dirty && olvido.email.$error.required">
                            Este campo es obligatorio</span>
            <input type="text" class="text" placeholder="Telefono" name="telefono" ng-model="credentials.telefono" ng-required="true">
            <span class="error-message" ng-show="olvido.telefono.$dirty && olvido.telefono.$error.required">
                            Este campo es obligatorio</span>
            <div class="submit"><input type="submit" ng-value="buttonText" ng-disabled="olvido.$invalid"></div>
        </form>
    </div>
    <div class="copy_layout login">
        <p>Design by <a href="http://carmasoluciones.com/" target="_blank">Carmasoluciones</a> </p>
    </div>
</div>