<div id="login">
    <h2 class="form-heading">login to your user Panel</h2>
    <div class="app-cam">
        <div ng-show="passwoordnoequals" class="alert alert-danger">Las contrasennnas nuevas deben ser iguales</div>
        <form name="passwords"  ng-submit="updatePassword()" novalidate role="form">
            <input type="password" class="form-control1" placeholder="old password" autofocus=""
                   ng-model="user.passwordvieja" name="oldpassword" ng-required="true">
            <span class="error-message" ng-show="passwords.oldpassword.$dirty && passwords.oldpassword.$error.required">
                            Este campo es obligatorio</span>
            <input type="password" class="form-control1" placeholder="Type new password" autofocus=""
                   ng-model="user.passwordnueva" name="passwordnueva" ng-required="true">
            <span class="error-message" ng-show="passwords.passwordnueva.$dirty && passwords.passwordnueva.$error.required">
                            Este campo es obligatorio</span>
            <input type="password" class="form-control1" placeholder="Re-Type new password" autofocus=""
                   ng-model="user.passwordnueva1" name="passwordnueva1" ng-required="true">
            <span class="error-message" ng-show="passwords.passwordnueva1.$dirty && passwords.passwordnueva1.$error.required">
                            Este campo es obligatorio</span>
            <div class="submit"><input type="submit" ng-disabled="passwords.$invalid"></div>
        </form>
    </div>
    <div class="copy_layout login">
        <p>Design by <a href="http://carmasoluciones.com/" target="_blank">Carmasoluciones</a> </p>
    </div>
</div>
